/*
Project Name: Relaxer
Client: Relaxer
Developer: Maryam@GA in DC
*/

/******************************************
Utility Classes
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignRight {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignLeft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* Base Styles
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Open Sans,Helvetica, Arial, sans-serif;
      background-size: cover;
}


/******************************************
/* Layout
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 500px;

}

header {
height:430px;
width:100%;
background: url(../images/headerBg.jpg) no-repeat center top rgb(134,141,157);
background-size: cover;
font-family: 'Open Sans', sans-serif;
}
header h1{
  padding:50px 60px;
  color:white;
  font-size:24px; 
  font-weight:800;
}
header h2{
color:white;
font-size:24px;
font-style:600;
padding: 10px 50px;
text-align: center;
}
button{
  background-color:yellow;
  width:140px;
  height: 30px;
  border-radius:5px ;
  font-size:14px; 
  font-weight: 800;
  margin-left:45%;
  margin-top:50px;

}
section{
  padding:50px 60px;
  background-color:#E9E9E9;
  font-color:#121212;
}
section span{
  
  font-size: 20px;
  font-weight: 600;
}
section p{
  font-size:13px;
  font-weight:300 ;
  margin-bottom:20px;
  margin-top: 20px;
}
em{
  font-style:italic;
}
section ul{
  font-size:13px;
  font-weight:300 ;
  list-style-type: circle;
  padding-left:50px;
}
footer{
  background-color: black;
  height: 280px;
}
footer li{
 display: inline;
 padding-left:20px;
 padding-right: -10px;
}

footer ul{
text-align: center;
padding-top:30px;
}
footer p{
  font-size: 9px;
  color:white;
  font-weight:600;
  padding-top:40px;
  text-align: center;
}

/******************************************
/* Additional Styles
/*******************************************/
.middlePage{
background: url(../images/testimonialBg.jpg) no-repeat bottom center;
background-size: cover;
padding-left:590px;
color:white;
font-size:18px;

}
.middlePage P{
  font-weight: 300;
  width:35%;
  text-align:center;
}
.middlePage span{
  padding-left:50px;
  font-size:18px;
  font-weight:600;
}
.yellowBar{
  background-color:yellow;
  height: 99px;
}
#signUp{
  background-color:#002EB8;
  color:white;
  font-size:12px;
  border-radius: 5px;
  font-weight: 800;
  width:200px; 
  margin-top:35px;
}

.footerNote{
  font-size: 24px;
  font-weight:800;
  color:yellow;
  padding-left:650px;
}
