html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}


h1{
	background-color: red;
	padding:100px;
	border:solid 2px black;
	width:50%;
}
p{
	background-color:blue;
	color:white;
	padding:3px;


}
code{
	background-color: white;
	color:black;
	padding:2px;
	border:solid 2px black;
}
h2{
	border-radius:3px;
	border:solid 5px grey;
}
ol{
	padding:30px;
	font-size:20px;
}
li{
 font-style:italic;
}
.margin{
	padding:4px;
}

